<footer class="site-footer outer">
  <div class="site-footer-content inner">
    <section class="copyright" style="line-height: 1.3em;">
      <a href="/">{{.Site.Params.orgName}}</a> {{.Site.Params.copyright}} <br>
      {{with .Site.Params.showSupport}}<span style="font-size: 0.8em; color: #555;">Hugo port of <a href="https://github.com/TryGhost/Casper">Casper 2.1.7</a> by <a href="https://www.telematika.org">EM</a></span>{{end}}
    </section>
    <nav class="site-footer-nav">
        <a href="/">Latest Posts</a>
        {{with .Site.Params.fbName}}<a href="https://www.facebook.com/{{.}}" target="_blank" rel="noopener">Facebook</a>{{end}}
        {{with .Site.Params.instagramName}}<a href="https://instagram.com/{{.}}" target="_blank" rel="noopener">Instagram</a>{{end}}
        {{with .Site.Params.githubName}}<a href="https://github.com/{{.}}" target="_blank" rel="noopener">Github</a>{{end}}
        {{with .Site.Params.mediumName}}<a href="https://medium.com/@{{.}}" target="_blank" rel="noopener">Medium</a>{{end}}
    </nav>  
  </div>
</footer>
